/*-RESET-*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* COLOMUNS */
[class*="col-"] {
    background-color: blue;
    color: white;
    height: 100px;
    margin: .5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.col-1{
    flex-basis: calc((100% / 12) * 1 - 1rem);
    max-width: calc((100% / 12) * 1 - 1rem);
}
.col-2{
    flex-basis: calc((100% / 12) * 2 - 1rem);
    max-width: calc((100% / 12) * 2 - 1rem);
}
.col-3{
    flex-basis: calc((100% / 12) * 3 - 1rem);
    max-width: calc((100% / 12) * 3  1rem);
}
.col-4{
    flex-basis: calc((100% / 12) * 4 - 1rem);
    max-width: calc((100% / 12) * 4 - 1rem);
}
.col-5{
    flex-basis: calc((100% / 12) * 5 - 1rem);
    max-width: calc((100% / 12) * 5 - 1rem);
}
.col-6{
    flex-basis: calc((100% / 12) * 6 - 1rem);
    max-width: calc((100% / 12) * 6 - 1rem);
}
.col-7{
    flex-basis: calc((100% / 12) * 7 - 1rem);
    max-width: calc((100% / 12) * 7 - 1rem);
}
.col-8{
    flex-basis: calc((100% / 12) * 8 - 1rem);
    max-width: calc((100% / 12) * 8 - 1rem);
}
.col-9{
    flex-basis: calc((100% / 12) * 9 - 1rem);
    max-width: calc((100% / 12) * 9 - 1rem);
}
.col-10{
    flex-basis: calc((100% / 12) * 10 - 1rem);
    max-width: calc((100% / 12) * 10 - 1rem);
}
.col-11{
    flex-basis: calc((100% / 12) * 11 - 1rem);
    max-width: calc((100% / 12) * 11 - 1rem);
}
.col-12{
    flex-basis: calc((100% / 12) * 12 - 1rem);
    max-width: calc((100% / 12) * 12 - 1rem);
}
/* COLUMNS OFFSET */
.col-offset-1{
    margin-left: calc((100% / 12) * 12 - 1rem);
}
.col-offset-2{
    margin-left: calc((100% / 12) * 2 - 1rem);
}
.col-offset-3{
    margin-left: calc((100% / 12) * 3 - 1rem);
}
.col-offset-4{
    margin-left: calc((100% / 12) * 4 - 1rem);
}
.col-offset-5{
    margin-left: calc((100% / 12) * 5 - 1rem);
}
.col-offset-6{
    margin-left: calc((100% / 12) * 6 - 1rem);
}
.col-offset-7{
    margin-left: calc((100% / 12) * 7 - 1rem);
}
.col-offset-8{
    margin-left: calc((100% / 12) * 8 - 1rem);
}
.col-offset-9{
    margin-left: calc((100% / 12) * 9 - 1rem);
}
.col-offset-10{
    margin-left: calc((100% / 12) * 10 - 1rem);
}
.col-offset-11{
    margin-left: calc((100% / 12) * 11 - 1rem);
}
.col-offset-12{
    margin-left: calc((100% / 12) * 12 - 1rem);
}
